{
    "arrowParens": "always",
    "bracketSameLine": false,
    "bracketSpacing": true,
    "printWidth": 60,
    "jsxSingleQuote": true,
    "singleQuote": true,
    "semi": true,
    "singleAttributePerLine": true,
    "tabWidth": 4,
    "trailingComma": "all"
}
